.navbar-brand {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.jumbotron {
    background-image: url(https://images.unsplash.com/photo-1462332420958-a05d1e002413?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1640&q=80);
    color: white;
    background-size: cover;
}

hr {
    background-color: white;
}

/* This is a new commeny */
